*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
}

u-body {
  margin: 0 auto;
  width: 1200px;
}

.header {
  width: 100%;
  height: 30px;
}

.m-form {
  /* width: 100%; */
  max-width: 1200px;
  margin-top: 10px;
  /* padding: 30px; */
}

.m-header {
  /* width: 100%; */
  /* max-width: 1200px; */
  height: 30px;
  /* padding: 10px;
  padding-right: 3em; */
}

.button {
  padding: 0;
}

.u-group {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
}

h6 {
  /* text-shadow: rgb(84, 81, 81) 0.0135em 0.08em 0.1em; */
  text-shadow: rgb(28, 24, 24) 0.0135em 0.08em 0.1em;
}
h2 {
  text-shadow: rgb(28, 24, 24) 0.0135em 0.08em 0.1em;
}

.boton-download {
  border-color: #ff8900 !important;
  border: 0.2rem solid;
  /* padding-right: 3em; */
  float: right;
  margin-right: 1em;
}

.boton {
  /* border-color: #ff8900 !important; */
  border: 0.2rem solid;
  padding: 3px 3px 0;
  float: right;
  margin-right: 1em;
}

.u-align-der {
  margin-left: auto;
  margin-right: 0px;
}

.u-section-exp {
  min-height: 1949px;
}

.section .container-center {
  /* margin: 0 auto; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.color_gradient {
  width: 100%;
  height: 100vh;
  color: #fff;
  background: linear-gradient(85deg, red, blue, black);
  background-size: 400% 900%;
  position: relative;
  animation: cambiar 15s ease-in-out infinite;
}

@keyframes cambiar {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

.containerPadre > * {
  border: 1px solid rgba(255, 255, 255, 0.5);
  background-color: rgba(132, 121, 121, 0.232);
  backdrop-filter: blur(40px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  box-shadow: inset 0 8px 20px rgba(255, 255, 255, 0.249);
  /* box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.249); */
  /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
}

.containerPadre-2 > * {
  border: 1px solid rgba(255, 255, 255, 0.5);
  background-color: rgba(132, 121, 121, 0.232);
  backdrop-filter: blur(40px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  box-shadow: inset 0 8px 20px rgba(255, 255, 255, 0.249);
  /* box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.249); */
  /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
}

.hijo-layout-1 {
  grid-area: profile;
  /* min-width: 200px; */
}

.m-alto {
  min-height: 100vh;
}

.hijo-layout-2 {
  grid-area: content;
  /* min-width: 700px; */
  /* width: 700px; */
  /* width: 100%; */
  /* min-width: 46,87em; */
}

.hijo-layout-4 {
  grid-area: education;
}

.m-exp-titulo {
  grid-area: titulo;
}
.m-exp-img {
  grid-area: imagen;
}
.m-exp-desc {
  grid-area: desc;
}

.m-text-desc-1 {
  margin: 0 20px 0 10px;
  font-size: 0.875rem;
}

ul:not(.u-unstyled) {
  margin: 0 20px 0 10px;
}

.m-container-text-img {
  display: grid;
  grid-column-gap: 10px;
  grid-template-areas:
    "titulo titulo"
    "desc imagen";
  /* justify-items: stretch; */
}

.m-text-desc {
  font-size: 0.875rem;
  font-weight: 700;
  margin: 0 0 0 10px;
  padding-top: 10px;
}

.m-text-desc-1 {
  font-size: 0.875rem;
  /* font-weight: 600; */
  margin: 0 0 0 10px;
}

p:not(.u-text-variant) {
  margin-top: 0px;
  margin-bottom: 0px;
}

.hijo-layout-3 {
  grid-area: skill;
  /* min-width: 180px; */
  /* min-width: 300px; */
  /* min-width: 19,37em; */
}

/* .containerPadre {
  padding: 20px;
  display: grid;
  grid-gap: 2px;
  min-height: 100vh;
  grid-template-columns: 250px 1fr 250px;
  grid-template-rows: 1fr;
  grid-template-areas: 
  "profile content skill"; 
} */

.button-list {
  /* list-style-type: none; */
  /* padding: 0;
  margin: 0; */
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
  width: 220px;
  margin: 0 auto;
}

.sombra {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  /* box-shadow: rgba(100, 100, 111, 0.2) 1px 7px 29px 1px; */
}

/* .u-section-1 {
  background-color: black;
} */

.u-section-1 .u-group-1 {
  width: 120px;
  min-height: 100px;
  margin: -32px 0 0 auto;
}

.containerPadre-2 {
  padding: 10px;
  max-width: 1200px;
  display: grid;
  min-height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "education";
  margin: auto;
}

@media (min-width: 890px) {
  .containerPadre {
    padding: 20px;
    max-width: 1200px;
    display: grid;
    grid-gap: 5px;
    min-height: 100vh;
    grid-template-columns: 250px 1fr 200px;
    grid-template-rows: 1fr;
    grid-template-areas: "profile content skill";
    margin: auto;
    /* justify-items: center; */
    /* align-content: space-around;  */
  }
}

@media (max-width: 890px) {
  /* .containerPadre {
    display: grid;
    grid-template-areas: 
        "profile"
        "content"
        "skill";
  } */
  .containerPadre {
    padding: 10px;
    display: grid;
    gap: 5px;
    grid-template-columns: 1fr 160px;
    grid-template-rows: 1fr;
    grid-template-areas:
      "profile profile"
      "content skill";
  }
  .m-container-text-img {
    display: grid;
    grid-column-gap: 10px;
    grid-template-areas:
      "titulo titulo"
      "desc   imagen";
    justify-items: stretch;
  }
  .m-text-desc {
    font-size: 0.775rem;
  }
  .m-text-desc-1 {
    font-size: 0.775rem;
  }
  .u-section-1 .u-group-1 {
    width: 100px;
    min-height: 100px;
  }
  .color_gradient {
    background-size: 400% 2500%;
    animation: cambiar 10s ease-in-out infinite;
  }
}

@media (max-width: 580px) {
  /* .containerPadre {
    display: grid;
    grid-template-areas: 
        "profile"
        "content"
        "skill";
  } */
  .containerPadre {
    padding: 10px;
    display: grid;
    gap: 5px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
      "profile"
      "content"
      "skill";
  }
  .m-container-text-img {
    display: grid;
    grid-column-gap: 10px;
    grid-template-areas:
      "titulo titulo"
      "desc   imagen";
    justify-items: stretch;
  }
  .m-text-desc {
    font-size: 0.775rem;
  }
  .m-text-desc-1 {
    font-size: 0.775rem;
  }
  .u-section-1 .u-group-1 {
    width: 100px;
    min-height: 100px;
  }
  .color_gradient {
    background-size: 300% 4500%;
    animation: cambiar 5s ease-in-out infinite;
  }
}

.u-button-style.u-custom-color-6,
.u-button-style.u-custom-color-6[class*="u-border-"] {
  color: #ffffff !important;
  background-color: #ff8900 !important;
}

.u-custom-color-6,
.u-body.u-custom-color-6,
section.u-custom-color-6:before,
.u-custom-color-6 > .u-container-layout:before,
.u-custom-color-6 > .u-inner-container-layout:before,
.u-custom-color-6.u-sidenav:before,
.u-container-layout.u-container-layout.u-custom-color-6:before,
.u-table-alt-custom-color-6 tr:nth-child(even) {
  color: #ffffff;
  background-color: #ff8900;
}

.u-button-style.u-custom-color-6:hover,
.u-button-style.u-custom-color-6[class*="u-border-"]:hover,
.u-button-style.u-custom-color-6:focus,
.u-button-style.u-custom-color-6[class*="u-border-"]:focus,
.u-button-style.u-button-style.u-custom-color-6:active,
.u-button-style.u-button-style.u-custom-color-6[class*="u-border-"]:active,
.u-button-style.u-button-style.u-custom-color-6.active,
.u-button-style.u-button-style.u-custom-color-6[class*="u-border-"].active,
li.active > .u-button-style.u-button-style.u-custom-color-6,
li.active
  > .u-button-style.u-button-style.u-custom-color-6[class*="u-border-"] {
  color: #ffffff !important;
  background-color: #e67b00 !important;
}

.u-custom-color-6,
.u-body.u-custom-color-6,
section.u-custom-color-6:before,
.u-custom-color-6 > .u-container-layout:before,
.u-custom-color-6 > .u-inner-container-layout:before,
.u-custom-color-6.u-sidenav:before,
.u-container-layout.u-container-layout.u-custom-color-6:before,
.u-table-alt-custom-color-6 tr:nth-child(even) {
  color: #ffffff;
  background-color: #ff8900;
}

.u-button-style.u-custom-color-6,
.u-button-style.u-custom-color-6[class*="u-border-"] {
  color: #ffffff !important;
  background-color: #ff8900 !important;
}

.u-button-style.u-custom-color-6:hover,
.u-button-style.u-custom-color-6[class*="u-border-"]:hover,
.u-button-style.u-custom-color-6:focus,
.u-button-style.u-custom-color-6[class*="u-border-"]:focus,
.u-button-style.u-button-style.u-custom-color-6:active,
.u-button-style.u-button-style.u-custom-color-6[class*="u-border-"]:active,
.u-button-style.u-button-style.u-custom-color-6.active,
.u-button-style.u-button-style.u-custom-color-6[class*="u-border-"].active,
li.active > .u-button-style.u-button-style.u-custom-color-6,
li.active
  > .u-button-style.u-button-style.u-custom-color-6[class*="u-border-"] {
  color: #ffffff !important;
  background-color: #e67b00 !important;
}

.u-hover-custom-color-6:hover,
.u-hover-custom-color-6[class*="u-border-"]:hover,
.u-hover-custom-color-6:focus,
.u-hover-custom-color-6[class*="u-border-"]:focus,
.u-active-custom-color-6.u-active.u-active,
.u-active-custom-color-6[class*="u-border-"].u-active.u-active,
a.u-button-style.u-hover-custom-color-6:hover,
a.u-button-style.u-hover-custom-color-6[class*="u-border-"]:hover,
a.u-button-style:hover > .u-hover-custom-color-6,
a.u-button-style:hover > .u-hover-custom-color-6[class*="u-border-"],
a.u-button-style.u-hover-custom-color-6:focus,
a.u-button-style.u-hover-custom-color-6[class*="u-border-"]:focus,
a.u-button-style.u-button-style.u-active-custom-color-6:active,
a.u-button-style.u-button-style.u-active-custom-color-6[class*="u-border-"]:active,
a.u-button-style.u-button-style.u-active-custom-color-6.active,
a.u-button-style.u-button-style.u-active-custom-color-6[class*="u-border-"].active,
a.u-button-style.u-button-style.active > .u-active-custom-color-6,
a.u-button-style.u-button-style.active
  > .u-active-custom-color-6[class*="u-border-"],
li.active > a.u-button-style.u-button-style.u-active-custom-color-6,
li.active
  > a.u-button-style.u-button-style.u-active-custom-color-6[class*="u-border-"] {
  color: #ffffff !important;
  background-color: #ff8900 !important;
}

a.u-link.u-hover-custom-color-6:hover {
  color: #ff8900 !important;
}

.u-border-custom-color-6,
.u-separator-custom-color-6:after {
  border-color: #ff8900;
  stroke: #ff8900;
}

.u-button-style.u-border-custom-color-6 {
  border-color: #ff8900 !important;
  color: #ff8900 !important;
  background-color: transparent !important;
}

.u-button-style.u-border-custom-color-6:hover,
.u-button-style.u-border-custom-color-6:focus {
  border-color: transparent !important;
  color: #e67b00 !important;
  background-color: transparent !important;
}

.u-border-hover-custom-color-6:hover,
.u-border-hover-custom-color-6:focus,
.u-border-active-custom-color-6.u-active.u-active,
a.u-button-style.u-border-hover-custom-color-6:hover,
a.u-button-style:hover > .u-border-hover-custom-color-6,
a.u-button-style.u-border-hover-custom-color-6:focus,
a.u-button-style.u-button-style.u-border-active-custom-color-6:active,
a.u-button-style.u-button-style.u-border-active-custom-color-6.active,
a.u-button-style.u-button-style.active > .u-border-active-custom-color-6,
li.active > a.u-button-style.u-button-style.u-border-active-custom-color-6 {
  color: #ff8900 !important;
  border-color: #ff8900 !important;
}

.u-link.u-border-custom-color-6[class*="u-border-"] {
  border-color: #ff8900 !important;
}

.u-link.u-border-custom-color-6[class*="u-border-"]:hover {
  border-color: #e67b00 !important;
}

.u-text-custom-color-6,
li.active > a.u-button-style.u-text-custom-color-6,
li.active > a.u-button-style.u-text-custom-color-6[class*="u-border-"],
a.u-button-style.u-text-custom-color-6,
a.u-button-style.u-text-custom-color-6[class*="u-border-"] {
  color: #ff8900 !important;
}

a.u-button-style.u-text-custom-color-6:hover,
a.u-button-style.u-text-custom-color-6[class*="u-border-"]:hover,
a.u-button-style.u-text-custom-color-6:focus,
a.u-button-style.u-text-custom-color-6[class*="u-border-"]:focus,
a.u-button-style.u-button-style.u-text-custom-color-6:active,
a.u-button-style.u-button-style.u-text-custom-color-6[class*="u-border-"]:active,
a.u-button-style.u-button-style.u-text-custom-color-6.active,
a.u-button-style.u-button-style.u-text-custom-color-6[class*="u-border-"].active {
  color: #e67b00 !important;
}

a.u-button-style:hover > .u-text-hover-custom-color-6,
a.u-button-style:hover > .u-text-hover-custom-color-6[class*="u-border-"],
a.u-button-style.u-button-style.u-text-hover-custom-color-6:hover,
a.u-button-style.u-button-style.u-text-hover-custom-color-6[class*="u-border-"]:hover,
a.u-button-style.u-button-style.u-button-style.u-text-hover-custom-color-6.active,
a.u-button-style.u-button-style.u-button-style.u-text-hover-custom-color-6[class*="u-border-"].active,
a.u-button-style.u-button-style.u-button-style.u-text-hover-custom-color-6:active,
a.u-button-style.u-button-style.u-button-style.u-text-hover-custom-color-6[class*="u-border-"]:active,
a.u-button-style.u-button-style.u-text-hover-custom-color-6:focus,
a.u-button-style.u-button-style.u-text-hover-custom-color-6[class*="u-border-"]:focus,
a.u-button-style.u-button-style.u-button-style.u-button-style.u-text-active-custom-color-6:active,
a.u-button-style.u-button-style.u-button-style.u-button-style.u-text-active-custom-color-6[class*="u-border-"]:active,
a.u-button-style.u-button-style.u-button-style.u-button-style.u-text-active-custom-color-6.active,
a.u-button-style.u-button-style.u-button-style.u-button-style.u-text-active-custom-color-6[class*="u-border-"].active,
a.u-button-style.u-button-style.active > .u-text-active-custom-color-6,
a.u-button-style.u-button-style.active
  > .u-text-active-custom-color-6[class*="u-border-"],
:not(.level-2)
  > .u-nav
  > .u-nav-item
  > a.u-nav-link.u-text-hover-custom-color-6:hover,
:not(.level-2)
  > .u-nav
  > .u-nav-item
  > a.u-nav-link.u-nav-link.u-text-active-custom-color-6.active,
.u-text-hover-custom-color-6.u-language-url:hover,
.u-text-hover-custom-color-6 .u-language-url:hover,
.u-popupmenu-items.u-text-hover-custom-color-6 .u-nav-link:hover,
.u-popupmenu-items.u-popupmenu-items.u-text-active-custom-color-6
  .u-nav-link.active {
  color: #ff8900 !important;
}

.u-text-custom-color-6 .u-svg-link,
.u-text-hover-custom-color-6:hover .u-svg-link,
.u-button-style:hover > .u-text-hover-custom-color-6 .u-svg-link,
.u-button-style.u-button-style.active
  > .u-text-active-custom-color-6
  .u-svg-link,
.u-text-hover-custom-color-6:focus .u-svg-link {
  fill: #ff8900;
}

.u-link.u-text-custom-color-6:hover {
  color: #e67b00 !important;
}

a.u-link.u-text-hover-custom-color-6:hover {
  color: #ff8900 !important;
}

/** color-rules **/
.u-overlap.u-overlap-transparent:not(.u-overlap-contrast)
  .u-header
  :not(.u-nav-item)
  > h6,
.u-gradient > .u-container-layout > h6,
.u-image:not(.u-shading) > .u-container-layout > h6,
h6 {
  color: #ff8900;
}

/** prueba **/

.u-section-1 .u-layout-wrap-1 {
  /* width: calc(((100% - 1140px) / 2) + 1190px); */
  margin: 0 auto;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 1933px;
}

.u-section-1 .u-container-layout-1 {
  padding: 28px 18px;
}

.u-section-1 .u-text-1 {
  font-size: 1.25rem;
  font-weight: 600;
  margin: 10px 8px;
}

.u-section-1 .m-text-1 {
  font-size: 1.25rem;
  font-weight: 600;
  margin: 0 0 0 -5px;
}

.u-section-1 .u-image-1 {
  width: 140px;
  height: 123px;
  margin: 10px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 20px 12px 0;
}

.u-section-1 .u-list-1 {
  width: 217px;
  margin: -2px auto 0 6px;
}

.u-section-1 .u-repeater-1 {
  /* grid-gap: 4px 4px;
  grid-template-columns: calc(50% - 2px) calc(50% - 2px);
  min-height: 55px; */
}

.u-section-1 .u-container-layout-2 {
  padding: 10px 10px 3px;
}

.u-section-1 .u-text-3 {
  font-size: 0.625rem;
  font-weight: 700;
  margin: -5px auto 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 10px 10px 3px;
}

.u-section-1 .u-text-4 {
  font-size: 0.625rem;
  font-weight: 700;
  margin: -5px auto 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 10px 10px 3px;
}

.u-section-1 .u-text-5 {
  font-size: 0.625rem;
  font-weight: 700;
  margin: -5px auto 0;
}

.u-section-1 .u-container-layout-5 {
  padding: 10px 10px 3px;
}

.u-section-1 .u-text-6 {
  font-size: 0.625rem;
  font-weight: 700;
  margin: -5px auto 0;
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  margin: 32px 12px 0;
}

.u-section-1 .m-text-7 {
  font-weight: 700;
  margin: 0 10px 0;
}

.u-section-1 .u-text-8 {
  font-weight: 400;
  font-size: 0.75rem;
  margin: 20px 12px 0;
}

.u-section-1 .u-text-9 {
  font-weight: 400;
  font-size: 0.75rem;
  margin: 20px 12px 0;
}

.u-section-1 .u-text-10 {
  font-weight: 700;
  margin: 20px 12px 12px;
}

.u-section-1 .u-text-11 {
  margin: 0 12px;
}

.u-section-1 .u-text-12 {
  margin: 0 12px;
}

.u-section-1 .u-text-13 {
  margin: -2px 12px 0;
}

.u-section-1 .u-text-14 {
  margin: -2px 2px 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-size: 0.75rem;
  padding: 0;
}

.u-section-1 .u-social-icons-1 {
  height: 32px;
  min-height: 16px;
  width: 158px;
  min-width: 94px;
  white-space: nowrap;
  background-image: none;
  padding: 10px;
  text-align: right;
  margin: -11px auto 0;
}

.u-section-1 .u-icon-5 {
  height: 100%;

  color: rgb(85, 172, 238) !important;
}

.u-section-1 .u-icon-6 {
  height: 100%;

  color: rgb(17, 17, 17) !important;
}

.u-section-1 .u-icon-7 {
  height: 100%;
  color: rgb(0, 137, 203);
}

.u-section-1 .u-icon-8 {
  height: 100%;
  color: rgb(0, 230, 118) !important;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 1933px;
}

.u-align-custom-1 {
  margin-left: auto;
  margin-right: 0px;
  margin-top: -20px;
}

.boton-hover-download:hover {
  background-color: rgba(255, 255, 255, 0.047);
  color: #ff8900;
  border-color: #ff8900 !important;
  border: 0.2rem solid;
}

.border-color-naranja {
  border-color: #ff8900 !important;
}

.u-section-1 .u-container-layout-6 {
  padding: 0px 0;
  margin-top: 14px;
}

.u-section-1 .u-text-15 {
  font-weight: 700;
  margin: 0 auto 0 5px;
}

.u-section-1 .u-list-2 {
  margin-top: 0px;
  margin-bottom: 0;
}

.u-section-1 .u-repeater-2 {
  grid-gap: 10px 10px;
  grid-template-columns: 100%;
  min-height: 1222px;
}

.u-section-1 .u-container-layout-7 {
  padding: 0;
}

.u-section-1 .u-container-layout-55 {
  width: 110px;
}

.u-section-1 .u-text-16 {
  font-weight: bold;
  margin: 10px 216px 0 10px;
}

.u-section-1 .u-image-2 {
  height: 60px;
  margin: 15px 0 0 auto;
}

.u-section-1 .u-text-17 {
  font-size: 0.875rem;
  font-weight: 700;
  margin: -106px auto 0 10px;
}

.u-section-1 .u-text-18 {
  margin: 0 170px 0 10px;
}

.u-section-1 .u-text-19 {
  font-size: 0.875rem;
  margin: 3px 170px 0 10px;
}

.u-section-1 .u-container-layout-9 {
  padding: 0;
}

.u-section-1 .u-text-20 {
  margin: 10px 150px 0 10px;
}

.u-section-1 .u-group-2 {
  width: 150px;
  margin: -32px 0 0 auto;
}

.u-section-1 .u-image-3 {
  height: 60px;
  margin: 0 0 0 auto;
}

.u-section-1 .u-text-21 {
  font-size: 0.875rem;
  font-weight: 700;
  margin: -106px auto 0 10px;
}

.u-section-1 .u-text-22 {
  margin: 0 170px 0 10px;
}

.u-section-1 .u-text-23 {
  font-size: 0.875rem;
  margin: 3px 170px 0 10px;
}

.u-section-1 .u-container-layout-11 {
  padding: 0;
}

.u-section-1 .u-text-24 {
  margin: 10px 80px 0 10px;
}

.u-section-1 .u-group-3 {
  width: 150px;
  min-height: 150px;
  margin: -32px 0 0 auto;
}

.u-section-1 .u-image-4 {
  height: 60px;
  margin: 10px 0 0 auto;
}

.u-section-1 .u-text-25 {
  font-size: 0.875rem;
  font-weight: 700;
  margin: -106px auto 0 10px;
}

.u-section-1 .u-text-26 {
  margin: 0 170px 0 10px;
}

.u-section-1 .u-text-27 {
  font-size: 0.875rem;
  margin: 3px 170px 0 10px;
}

.u-section-1 .u-container-layout-13 {
  padding: 0;
}

.u-section-1 .u-text-28 {
  margin: 10px 216px 0 10px;
}

.u-section-1 .u-group-4 {
  width: 150px;
  min-height: 90px;
  margin: -32px 0 0 auto;
}

.u-section-1 .u-image-5 {
  height: 60px;
  margin: 0 0 0 auto;
}

.u-section-1 .u-text-29 {
  font-size: 0.875rem;
  font-weight: 700;
  margin: -106px auto 0 10px;
}

.u-section-1 .u-text-30 {
  margin: 0 170px 0 10px;
}

.u-section-1 .u-text-31 {
  font-size: 0.875rem;
  margin: 3px 170px 0 10px;
}

.u-section-1 .u-container-layout-15 {
  padding: 0;
}

.u-section-1 .u-text-32 {
  margin: 10px 80px 0 10px;
}

.u-section-1 .u-group-5 {
  width: 150px;
  min-height: 150px;
  margin: -32px 0 0 auto;
}

.u-section-1 .u-image-6 {
  height: 60px;
  margin: 0 0 0 auto;
}

.u-section-1 .u-text-33 {
  font-size: 0.875rem;
  font-weight: 700;
  margin: -106px auto 0 10px;
}

.u-section-1 .u-text-34 {
  margin: 0 170px 0 10px;
}

.u-section-1 .u-text-35 {
  font-size: 0.875rem;
  margin: 3px 170px 0 10px;
}

.u-section-1 .u-container-layout-17 {
  padding: 0;
}

.u-section-1 .u-text-36 {
  margin: 10px 80px 0 10px;
}

.u-section-1 .u-group-6 {
  width: 150px;
  min-height: 150px;
  margin: -32px 0 0 auto;
}

.u-section-1 .u-image-7 {
  height: 60px;
  margin: 0 0 0 auto;
}

.u-section-1 .u-text-37 {
  font-size: 0.875rem;
  font-weight: 700;
  margin: -106px auto 0 10px;
}

.u-section-1 .u-text-38 {
  margin: 0 170px 0 10px;
}

.u-section-1 .u-text-39 {
  font-size: 0.875rem;
  margin: 3px 170px 0 10px;
}

.u-section-1 .u-container-layout-19 {
  padding: 0;
}

.u-section-1 .u-text-40 {
  margin: 10px 80px 0 10px;
}

.u-section-1 .u-group-7 {
  width: 150px;
  min-height: 150px;
  margin: -32px 0 0 auto;
}

.u-section-1 .u-image-8 {
  height: 60px;
  margin: 0 0 0 auto;
}

.u-section-1 .u-text-41 {
  font-size: 0.875rem;
  font-weight: 700;
  margin: -106px auto 0 10px;
}

.u-section-1 .u-text-42 {
  margin: 0 170px 0 10px;
}

.u-section-1 .u-text-43 {
  font-size: 0.875rem;
  margin: 3px 170px 0 10px;
}

.u-section-1 .u-container-layout-21 {
  padding: 0;
}

.u-section-1 .u-text-44 {
  margin: 10px 60px 0 10px;
}

.u-section-1 .u-group-8 {
  width: 150px;
  min-height: 150px;
  margin: -32px 0 0 auto;
}

.u-section-1 .u-image-9 {
  height: 60px;
  margin: 0 0 0 auto;
}

.u-section-1 .u-text-45 {
  font-size: 0.875rem;
  font-weight: 700;
  margin: -106px auto 0 10px;
}

.u-section-1 .u-text-46 {
  margin: 0 170px 0 10px;
}

.u-section-1 .u-text-47 {
  font-size: 0.875rem;
  margin: 3px 170px 0 10px;
}

.u-section-1 .u-container-layout-23 {
  padding: 0;
}

.u-section-1 .u-text-48 {
  margin: 10px 60px 0 10px;
}

.u-section-1 .u-group-9 {
  width: 150px;
  min-height: 150px;
  margin: -32px 0 0 auto;
}

.u-section-1 .u-image-10 {
  height: 60px;
  margin: 0 0 0 auto;
}

.u-section-1 .u-text-49 {
  font-size: 0.875rem;
  font-weight: 700;
  margin: -106px auto 0 10px;
}

.u-section-1 .u-text-50 {
  margin: 0 170px 0 10px;
}

.u-section-1 .u-text-51 {
  font-size: 0.875rem;
  margin: 3px 170px 0 10px;
}

.u-section-1 .u-container-layout-25 {
  padding: 0;
}

.u-section-1 .u-text-52 {
  margin: 10px 80px 0 10px;
}

.u-section-1 .u-group-10 {
  width: 150px;
  min-height: 150px;
  margin: -32px 0 0 auto;
}

.u-section-1 .u-image-11 {
  height: 60px;
  margin: 0 0 0 auto;
}

.u-section-1 .u-text-53 {
  font-size: 0.875rem;
  font-weight: 700;
  margin: -106px auto 0 10px;
}

.u-section-1 .u-text-54 {
  margin: 0 170px 0 10px;
}

.u-section-1 .u-text-55 {
  font-size: 0.875rem;
  margin: 3px 170px 0 10px;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 1933px;
}

.u-section-1 .u-container-layout-27 {
  padding: 15px;
}

.u-section-1 .u-text-56 {
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-57 {
  font-weight: 700;
  margin: 10px auto 0 0;
}

.u-section-1 .u-text-58 {
  font-weight: 400;
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 0;
  font-size: 0.75rem;
}

.u-section-1 .u-text-59 {
  font-weight: 700;
  margin-left: 0;
  margin-top: 10px;
  margin-bottom: 0;
}

.u-section-1 .u-text-60 {
  font-weight: 400;
  font-size: 0.75rem;
  margin: 20px auto 0 0;
}

.u-section-1 .u-text-61 {
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-1 .u-text-62 {
  font-weight: 400;
  font-size: 0.75rem;
  margin: 20px auto 0 0;
}

.u-section-1 .u-text-63 {
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-1 .u-text-64 {
  font-weight: 400;
  font-size: 0.75rem;
  margin: 20px auto 0 0;
}

/* @media (max-width: 1199px) {
   .u-section-1 {
    min-height: 300px;
  }

  .u-section-1 .u-layout-wrap-1 {
    position: relative;
    width: calc(((100% - 940px) / 2) + 940px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 1527px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-list-1 {
    width: 167px;
    margin-left: 0;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 42px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-10 {
    margin-top: -25px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-11 {
    margin-top: -58px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-12 {
    margin-top: -16px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-13 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-14 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 1527px;
  }

  .u-section-1 .u-text-16 {
    font-weight: 700;
    margin-right: 10px;
  }

  .u-section-1 .u-image-2 {
    filter: brightness(0.4);
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-18 {
    margin-right: 62px;
  }

  .u-section-1 .u-text-19 {
    margin-left: 0;
    margin-right: 73px;
  }

  .u-section-1 .u-text-20 {
    margin-right: 10px;
  }

  .u-section-1 .u-image-3 {
    filter: brightness(0.4);
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-22 {
    margin-right: 62px;
  }

  .u-section-1 .u-text-23 {
    margin-left: 0;
    margin-right: 73px;
  }

  .u-section-1 .u-text-24 {
    margin-right: 10px;
  }

  .u-section-1 .u-image-4 {
    filter: brightness(0.4);
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-26 {
    margin-right: 62px;
  }

  .u-section-1 .u-text-27 {
    margin-left: 0;
    margin-right: 73px;
  }

  .u-section-1 .u-text-28 {
    margin-top: -111px;
    margin-right: 10px;
  }

  .u-section-1 .u-image-5 {
    filter: brightness(0.4);
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-30 {
    margin-right: 62px;
  }

  .u-section-1 .u-text-31 {
    margin-left: 0;
    margin-right: 73px;
  }

  .u-section-1 .u-text-32 {
    margin-right: 10px;
  }

  .u-section-1 .u-image-6 {
    filter: brightness(0.4);
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-34 {
    margin-right: 62px;
  }

  .u-section-1 .u-text-35 {
    margin-left: 0;
    margin-right: 73px;
  }

  .u-section-1 .u-text-36 {
    margin-right: 10px;
  }

  .u-section-1 .u-image-7 {
    filter: brightness(0.4);
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-38 {
    margin-right: 62px;
  }

  .u-section-1 .u-text-39 {
    margin-left: 0;
    margin-right: 73px;
  }

  .u-section-1 .u-text-40 {
    margin-right: 10px;
  }

  .u-section-1 .u-image-8 {
    filter: brightness(0.4);
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-42 {
    margin-right: 62px;
  }

  .u-section-1 .u-text-43 {
    margin-left: 0;
    margin-right: 73px;
  }

  .u-section-1 .u-text-44 {
    margin-right: 10px;
  }

  .u-section-1 .u-image-9 {
    filter: brightness(0.4);
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-46 {
    margin-right: 62px;
  }

  .u-section-1 .u-text-47 {
    margin-left: 0;
    margin-right: 73px;
  }

  .u-section-1 .u-text-48 {
    margin-right: 10px;
  }

  .u-section-1 .u-image-10 {
    filter: brightness(0.4);
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-50 {
    margin-right: 62px;
  }

  .u-section-1 .u-text-51 {
    margin-left: 0;
    margin-right: 73px;
  }

  .u-section-1 .u-text-52 {
    margin-right: 10px;
  }

  .u-section-1 .u-image-11 {
    filter: brightness(0.4);
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-54 {
    margin-right: 62px;
  }

  .u-section-1 .u-text-55 {
    margin-left: 0;
    margin-right: 73px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 1527px;
  }
} */

/* @media (max-width: 991px) {
  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-image-1 {
    width: 119px;
    height: 105px;
  }

  .u-section-1 .u-list-1 {
    width: 119px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-text-10 {
    margin-top: -425px;
  }

  .u-section-1 .u-text-12 {
    margin-top: -20px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-text-18 {
    margin-right: 0;
  }

  .u-section-1 .u-text-19 {
    margin-right: 0;
  }

  .u-section-1 .u-text-22 {
    margin-right: 0;
  }

  .u-section-1 .u-text-23 {
    margin-right: 0;
  }

  .u-section-1 .u-text-26 {
    margin-right: 0;
  }

  .u-section-1 .u-text-27 {
    margin-right: 0;
  }

  .u-section-1 .u-text-30 {
    margin-right: 0;
  }

  .u-section-1 .u-text-31 {
    margin-right: 0;
  }

  .u-section-1 .u-text-32 {
    margin-top: -110px;
  }

  .u-section-1 .u-text-34 {
    margin-right: 0;
  }

  .u-section-1 .u-text-35 {
    margin-right: 0;
  }

  .u-section-1 .u-text-38 {
    margin-right: 0;
  }

  .u-section-1 .u-text-39 {
    margin-right: 0;
  }

  .u-section-1 .u-text-42 {
    margin-right: 0;
  }

  .u-section-1 .u-text-43 {
    margin-right: 0;
  }

  .u-section-1 .u-text-46 {
    margin-right: 0;
  }

  .u-section-1 .u-text-47 {
    margin-right: 0;
  }

  .u-section-1 .u-text-50 {
    margin-right: 0;
  }

  .u-section-1 .u-text-51 {
    margin-right: 0;
  }

  .u-section-1 .u-text-54 {
    margin-right: 0;
  }

  .u-section-1 .u-text-55 {
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }
} */

/* @media (max-width: 767px) {
   .u-section-1 {
    min-height: 400px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-10 {
    margin-top: 388px;
  }

  .u-section-1 .u-text-12 {
    margin-top: 6px;
  }

  .u-section-1 .u-image-2 {
    height: 109px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-3 {
    height: 109px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-4 {
    height: 109px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-28 {
    margin-top: -66px;
  }

  .u-section-1 .u-image-5 {
    height: 109px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-32 {
    margin-top: 10px;
  }

  .u-section-1 .u-image-6 {
    height: 109px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-7 {
    height: 109px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-8 {
    height: 109px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-9 {
    height: 109px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-10 {
    height: 109px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-11 {
    height: 109px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-27 {
    padding-left: 10px;
    padding-right: 10px;
  }
} */

/* @media (max-width: 575px) {
  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-1 .u-text-10 {
    margin-top: 331px;
  }

  .u-section-1 .u-text-28 {
    margin-top: -111px;
  }

  .u-section-1 .u-text-32 {
    margin-top: -110px;
  }
}  */

/* .u-section-2 {
  min-height: 1824px;
}

.u-section-2 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2) + 1190px);
  margin: 0;
} */

/* .u-section-2 .u-layout-cell-1 {
  min-height: 967px;
} */

.u-section-2 .u-container-layout-1 {
  padding: 28px 18px;
}

/* .u-section-2 .u-layout-cell-2 {
  min-height: 967px;
} */

.u-section-2 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 0 auto 0 5px;
}

.u-section-2 .u-list-1 {
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-2 .u-repeater-1 {
  grid-gap: 10px 10px;
  grid-template-columns: 100%;
  min-height: 888px;
}

.u-section-2 .u-container-layout-3 {
  padding: 0;
}

.u-section-2 .u-text-2 {
  font-weight: bold;
  margin: 10px 216px 0 10px;
}

.u-section-2 .u-group-1 {
  width: 126px;
  margin: -32px 0 0 auto;
}

.u-section-2 .u-container-layout-4 {
  padding-bottom: 0;
  padding-top: 0;
}

.u-section-2 .u-image-1 {
  height: 60px;
  margin: 0;
}

.u-section-2 .u-text-3 {
  font-size: 0.875rem;
  font-weight: 700;
  margin: -19px auto 0 10px;
}

.u-section-2 .u-text-4 {
  margin: 0 170px 0 10px;
}

.u-section-2 .u-container-layout-5 {
  padding: 0;
}

.u-section-2 .u-text-5 {
  margin: 10px 216px 0 10px;
}

.u-section-2 .u-group-2 {
  width: 126px;
  margin: -32px 0 0 auto;
}

.u-section-2 .u-container-layout-6 {
  padding-bottom: 0;
  padding-top: 0;
}

.u-section-2 .u-image-2 {
  height: 60px;
  margin: 0;
}

.u-section-2 .u-text-6 {
  font-size: 0.875rem;
  font-weight: 700;
  margin: -19px auto 0 10px;
}

.u-section-2 .u-text-7 {
  margin: 0 170px 0 10px;
}

.u-section-2 .u-btn-1 {
  padding: 0;
}

.u-section-2 .u-container-layout-7 {
  padding: 0;
}

.m-text-center {
  margin: 0 auto;
  padding: 10px;
}

.u-section-2 .u-text-8 {
  margin: 10px 216px 0 10px;
}

.u-section-2 .u-group-3 {
  width: 126px;
  margin: -32px 0 0 auto;
}

.u-section-2 .u-container-layout-8 {
  padding-bottom: 0;
  padding-top: 0;
}

.u-section-2 .u-image-3 {
  height: 60px;
  margin: 0;
}

.u-section-2 .u-text-9 {
  font-size: 0.875rem;
  font-weight: 700;
  margin: -19px auto 0 10px;
}

.u-section-2 .u-text-10 {
  margin: 0 170px 0 10px;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-container-layout-9 {
  padding: 0;
}

.u-section-2 .u-text-11 {
  margin: 10px 216px 0 10px;
}

.u-section-2 .u-group-4 {
  width: 126px;
  margin: -32px 0 0 auto;
}

.u-section-2 .u-container-layout-10 {
  padding-bottom: 0;
  padding-top: 0;
}

.u-section-2 .u-image-4 {
  height: 60px;
  margin: 0;
}

.u-section-2 .u-text-12 {
  font-size: 0.875rem;
  font-weight: 700;
  margin: -19px auto 0 10px;
}

.u-section-2 .u-text-13 {
  margin: 0 170px 0 10px;
}

.u-section-2 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-container-layout-11 {
  padding: 0;
}

.u-section-2 .u-text-14 {
  margin: 10px 216px 0 10px;
}

.u-section-2 .u-group-5 {
  width: 126px;
  margin: -32px 0 0 auto;
}

.u-section-2 .u-container-layout-12 {
  padding-bottom: 0;
  padding-top: 0;
}

.u-section-2 .u-image-5 {
  height: 60px;
  margin: 0;
}

.u-section-2 .u-text-15 {
  font-size: 0.875rem;
  font-weight: 700;
  margin: -19px auto 0 10px;
}

.u-section-2 .u-text-16 {
  margin: 0 170px 0 10px;
}

.u-section-2 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-container-layout-13 {
  padding: 0;
}

.u-section-2 .u-text-17 {
  margin: 10px 216px 0 10px;
}

.u-section-2 .u-group-6 {
  width: 126px;
  margin: -32px 0 0 auto;
}

.m-group-6 {
  width: 150px;
  margin: -32px 0 0 auto;
}

.u-section-2 .u-container-layout-14 {
  padding-bottom: 0;
  padding-top: 0;
}

.u-section-2 .u-image-6 {
  height: 60px;
  margin: 0;
}

.u-section-2 .u-text-18 {
  font-size: 0.875rem;
  font-weight: 700;
  margin: -19px auto 0 10px;
}

.u-section-2 .u-text-19 {
  margin: 0 170px 0 10px;
}

.u-section-2 .u-container-layout-15 {
  padding: 0;
}

.u-section-2 .u-text-20 {
  margin: 10px 216px 0 10px;
}

.u-section-2 .u-group-7 {
  width: 126px;
  margin: -32px 0 0 auto;
}

.u-section-2 .u-container-layout-16 {
  padding-bottom: 0;
  padding-top: 0;
}

.u-section-2 .u-image-7 {
  height: 60px;
  margin: 0;
}

.u-section-2 .u-text-21 {
  font-size: 0.875rem;
  font-weight: 700;
  margin: -19px auto 0 10px;
}

.u-section-2 .u-text-22 {
  margin: 0 170px 0 10px;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 967px;
}

.u-section-2 .u-container-layout-17 {
  padding: 30px;
}

/* @media (max-width: 1199px) {
   .u-section-2 {
    min-height: 1689px;
  }

  .u-section-2 .u-layout-wrap-1 {
    position: relative;
    width: calc(((100% - 940px) / 2) + 940px);
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 764px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 764px;
  }

  .u-section-2 .u-text-2 {
    font-weight: 700;
    margin-right: 10px;
  }

  .u-section-2 .u-group-1 {
    min-height: 124px;
  }

  .u-section-2 .u-image-1 {
    filter: brightness(0.4);
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-4 {
    margin-right: 62px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 10px;
  }

  .u-section-2 .u-group-2 {
    min-height: 124px;
  }

  .u-section-2 .u-image-2 {
    filter: brightness(0.4);
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-7 {
    margin-right: 62px;
  }

  .u-section-2 .u-text-8 {
    margin-right: 10px;
  }

  .u-section-2 .u-group-3 {
    min-height: 124px;
  }

  .u-section-2 .u-image-3 {
    filter: brightness(0.4);
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-10 {
    margin-right: 62px;
  }

  .u-section-2 .u-text-11 {
    margin-top: -111px;
    margin-right: 10px;
  }

  .u-section-2 .u-group-4 {
    min-height: 124px;
  }

  .u-section-2 .u-image-4 {
    filter: brightness(0.4);
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-13 {
    margin-right: 62px;
  }

  .u-section-2 .u-text-14 {
    margin-right: 10px;
  }

  .u-section-2 .u-group-5 {
    min-height: 124px;
  }

  .u-section-2 .u-image-5 {
    filter: brightness(0.4);
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-16 {
    margin-right: 62px;
  }

  .u-section-2 .u-text-17 {
    margin-right: 10px;
  }

  .u-section-2 .u-group-6 {
    min-height: 124px;
  }

  .u-section-2 .u-image-6 {
    filter: brightness(0.4);
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-19 {
    margin-right: 62px;
  }

  .u-section-2 .u-text-20 {
    margin-right: 10px;
  }

  .u-section-2 .u-group-7 {
    min-height: 124px;
  }

  .u-section-2 .u-image-7 {
    filter: brightness(0.4);
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-22 {
    margin-right: 62px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 764px;
  }
} */

/* @media (max-width: 991px) {
   .u-section-2 {
    min-height: 160px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 585px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
  }

  .u-section-2 .u-text-7 {
    margin-right: 0;
  }

  .u-section-2 .u-text-10 {
    margin-right: 0;
  }

  .u-section-2 .u-text-13 {
    margin-right: 0;
  }

  .u-section-2 .u-text-14 {
    margin-top: -110px;
  }

  .u-section-2 .u-text-16 {
    margin-right: 0;
  }

  .u-section-2 .u-text-19 {
    margin-right: 0;
  }

  .u-section-2 .u-text-22 {
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 585px;
  }
} */

/* @media (max-width: 767px) {
   .u-section-2 {
    min-height: 260px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 2025px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    height: 109px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-2 {
    height: 109px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-3 {
    height: 109px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-11 {
    margin-top: -66px;
  }

  .u-section-2 .u-image-4 {
    height: 109px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-14 {
    margin-top: 10px;
  }

  .u-section-2 .u-image-5 {
    height: 109px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-6 {
    height: 109px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-7 {
    height: 109px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 1880px;
  }

  .u-section-2 .u-container-layout-17 {
    padding-left: 10px;
    padding-right: 10px;
  }
} */

/* @media (max-width: 575px) {
  .u-section-2 .u-layout-wrap-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 1275px;
  }

  .u-section-2 .u-text-11 {
    margin-top: -111px;
  }

  .u-section-2 .u-text-14 {
    margin-top: -110px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 1184px;
  }
} */
